[submodule "microservice/underwriter"]
	path = backend/underwriter
	url = https://github.com/night-walkers-smoothstack/aline-underwriter-microservice-DL
[submodule "microservice/bank"]
	path = backend/bank
	url = https://github.com/night-walkers-smoothstack/aline-bank-microservice-DL
[submodule "microservice/transaction"]
	path = backend/transaction
	url = https://github.com/night-walkers-smoothstack/aline-transaction-microservice-DL
[submodule "user"]
	path = backend/user
	url = https://github.com/night-walkers-smoothstack/aline-user-microservice-DL
# [submodule "microservice/gateway"]
# 	path = backend/gateway
# 	url = https://github.com/night-walkers-smoothstack/aline-gateway-DL
[submodule "aline-db-DL"]
	path = data_producers
	url = https://github.com/night-walkers-smoothstack/aline-db-DL.git
