secrets/
secret/
.env*
.DS_Store
secret.json
aws/myecs/.aws_env
.terraform*
*.tfvars
terraform/creds/**
terraform/charts/**
!README.md
*.tfstate
*.tfvars
*.backup
eksctl_config.yml
.notes.txt
*.hcl
*.log